body {
	padding: 50px 100px;
	font-family: helvetica,arial,sans-serif;
	font-size: 14px;
	color: #2C2C2C;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

header {
	margin-bottom: 50px;
}

header h1 {
	color: #0088CC;
	font-size: 5em;
	font-weight: 100;
	letter-spacing: -1px;
}

.summary {
	font-size: 1.8em;
	overflow: hidden;
}

#me {
	width: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

p {
	font-size: 1.2em;
	font-weight: 300;
}

a {
	color: #0088CC;
}

#social-networks li {
	list-style-type: none;
	display: inline;
	padding: 50px;
}

#social-networks img {
	width: 80px;
}

footer {
	margin-top: 50px;
	border-top: 1px solid #CCCCCC;
	color: #666666;
	font-size: 0.8em;
}
